<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Bicycles - Admin Panel | Bicycles Shop</title>
</head>
<body>

<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
<span th:text="${#authentication.getPrincipal().authorities}"></span>
<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

<br/>
<a th:href="@{/adminpanel}" id="adminpanel">Back to Admin panel</a><br/>
<a th:href="@{/adminpanel/addbicycle}" id="addbicycle">Add new bicycle</a><br/>
<br/>
<div th:each="bicycle : ${bicycles}">
    <span th:text="${bicycle.getName() + ', ' + bicycle.getPrice()}">bicycle</span>
    [<a th:href="@{/adminpanel/bicycles/edit/{id}(id=${bicycle.getId()})}">Edit</a>]
    <form th:method="DELETE" th:action="@{/adminpanel/bicycles/{id}(id=${bicycle.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>

</body>
</html>